<div class="w-users-userformpagewrap page-wrapper">
    <div class="w-users-usersignupformwrapper login-form-wrapper">
        <div class="w-users-userformsuccessstate w-form-success" tabindex="-1">
            <div class="w-users-userformheader">
                <img alt="" src="images/thumbs-up-72.cbcaec93bc.svg">
                <h2>Account activated</h2>
            </div>
            <p>Your account was created successfully. You will be redirected shortly.</p>
            <div data-wf-user-form-redirect="">
                <a class="w-inline-block" href="/">If nothing happens, click here.</a>
            </div>
        </div>
        <form data-wf-user-form-type="signup" method="post">
            <div class="w-users-userformheader">
                <h2 class="no-margins">Create Account</h2>
                <p>Please enter your details.</p>
            </div>
            <div class="text-field-holder">
                <label class="field-label" for="Email">Email</label><input autocomplete="username" class="text-field w-input" data-wf-user-form-input-type="email" id="wf-sign-up-email" maxlength="256" name="Email" placeholder="" required="" type="email">
            </div>
            <div class="text-field-holder">
                <label class="field-label" for="Name">Name</label><input class="text-field w-input" data-name="" data-wf-user-field="wf-user-field-name" id="wf-sign-up-name" maxlength="256" name="" placeholder="" required="" type="text">
            </div>
            <div class="text-field-holder">
                <label class="field-label" for="Password">Password</label><input class="text-field w-input" data-name="" data-wf-user-form-input-type="password" id="wf-sign-up-password" maxlength="256" name="Password" placeholder="" required="" type="password">
            </div>
            <div class="check-box-holder">
                <label class="w-checkbox checkbox-field"></label>
                <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox w--redirected-checked">
                    <label class="w-checkbox checkbox-field"></label>
                </div><label class="w-checkbox checkbox-field"><input checked data-name="" data-wf-user-field="wf-user-field-accept-privacy" id="wf-sign-up-accept-privacy" name="" placeholder="" required="" style="opacity:0;position:absolute;z-index:-1" type="checkbox"><span class="field-label w-form-label">I have accepted the <a class="w-inline-block" href="#">privacy policy</a> and <a class="w-inline-block" href="#">terms of service</a></span></label><label class="w-checkbox"></label>
                <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox">
                    <label class="w-checkbox"></label>
                </div><label class="w-checkbox"><input data-name="" data-wf-user-field="wf-user-field-accept-communications" id="wf-sign-up-accept-communications" name="" placeholder="" required="" style="opacity:0;position:absolute;z-index:-1" type="checkbox"><span class="field-label w-form-label">I consent to receive marketing emails.</span></label>
            </div>
            <div class="login-button-holder">
                <input class="w-users-userformbutton button w-button" data-wait="Please wait..." type="submit" value="Sign Up">
                <div class="w-users-userformfooter">
                    <span class="field-label">Already have an account?</span><a class="field-label w-inline-block" href="/log-in">Log In</a>
                </div>
            </div>
        </form>
        <div class="w-users-userformerrorstate w-form-fail" data-wf-user-form-error="true" style="display:none">
            <div class="user-form-error-msg">
                There was an error signing you up. Please try again, or contact us if you continue to have problems.
            </div>
        </div>
        <div class="w-users-usersignupverificationmessage w-form-verification" data-wf-user-form-verification="true" tabindex="-1">
            <div class="w-users-userformheader">
                <img alt="" src="images/email-72.67fa6be437.svg">
                <h2>Verification Required</h2>
            </div>
            <p>Account verification required. Please check your email to find your unique verification link.</p>
        </div>
    </div>
</div>