<div class="section overflow-hidden">
    <div class="about-hero">
        <div class="container about-container">
            <div class="our-company-text-holder">
                <div class="our-company-content">
                    <div class="animate-on-load-01" style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
                        <h1>Our company</h1>
                    </div>
                    <div class="animate-on-load-02" style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
                        <p>Discover the faces driving our vision. Talented, passionate, and dedicated, our team is committed to unleashing creativity through technology. Get to know us!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-image-holder">
            <div class="about-overlay"></div>
        </div>
    </div>
</div>
<div class="trusted-by">
    <div class="center-text">
        <div class="fade-in-on-scroll">
            <p>Join 4,000+ companies already growing</p>
        </div>
    </div>
    <div class="fade-in-on-scroll">
        <div class="company-logo-holder">
            <div class="company-logo-container">
                <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2003.svg"></div>
                <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2001.svg"></div>
                <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2002.svg"></div>
                <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2004.svg"></div>
                <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2005.svg"></div>
                <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2001.svg"></div>
                <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2002.svg"></div>
                <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2005-1.svg"></div>
            </div>
            <div class="company-logo-container">
                <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2003.svg"></div>
                <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2001.svg"></div>
                <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2002.svg"></div>
                <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2004.svg"></div>
                <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2005.svg"></div>
                <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2001.svg"></div>
                <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2002.svg"></div>
                <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2005-1.svg"></div>
            </div>
            <div class="graident-for-logos"></div>
            <div class="graident-for-logos right"></div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="section-center-text">
            <div class="section-title">
                <div class="fade-in-on-scroll">
                    <h2 class="title medium">How we got here</h2>
                </div>
            </div>
            <div class="section-paragraph">
                <div class="fade-in-on-scroll">
                    <p>From humble beginnings to where we stand today, our journey is one of perseverance, innovation, and passion. Through hard work, determination, and a shared vision, we&#x27;ve turned dreams into reality. Join us as we reflect on our path and look forward to what lies ahead.</p>
                </div>
            </div>
            <div class="about-image-full-holder">
                <div class="fade-in-on-scroll"><img alt="" class="about-image-full" sizes="(max-width: 479px) 94vw, (max-width: 767px) 93vw, (max-width: 991px) 94vw, (max-width: 1439px) 95vw, 1000.0000610351562px" src="images/about-20us-20image.webp" srcset="images/about-20us-20image-p-500.webp 500w, images/about-20us-20image-p-800.webp 800w, images/about-20us-20image-p-1080.webp 1080w, images/about-20us-20image-p-1600.webp 1600w, images/about-20us-20image.webp 1920w"></div>
                <div class="about-us-caption">
                    <div class="about-us-caption-text">
                        Our story began with a simple idea
                    </div>
                </div>
            </div>
            <div class="story-text-holder">
                <div class="fade-in-on-scroll">
                    <p>
                        Our story began with a simple idea: to make art accessible to everyone, everywhere. Fueled by our passion for creativity and innovation, we embarked on a journey to develop a drawing app that would empower users to unleash their imagination on digital canvases. From the early sketches on napkins to countless hours of coding and design, ViaVia Drawing App slowly took shape, guided by our unwavering commitment to quality and user experience.<br>
                        <br>
                        As we navigated through challenges and milestones, each step forward brought us closer to our vision. We listened to feedback from artists, designers, and enthusiasts, refining features and functionalities to better meet the needs of our growing community. With every update, ViaVia evolved, incorporating new tools, techniques, and technologies to push the boundaries of digital artistry.<br>
                        <br>
                        Today, ViaVia Drawing App stands as a testament to our dedication and perseverance. It&#x27;s more than just a tool; it&#x27;s a platform for expression, exploration, and connection. Whether you&#x27;re a seasoned artist or just starting your creative journey, we invite you to join us as we continue to write the next chapter in the history of digital art with ViaVia Drawing App.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="section-paddings">
            <div class="section-center-text">
                <div class="section-title xl">
                    <div class="fade-in-on-scroll">
                        <h2 class="title medium">Our Exceptional Team</h2>
                    </div>
                </div>
                <div class="section-paragraph">
                    <div class="fade-in-on-scroll">
                        <p>Get to know the dynamic minds driving the vision at Glossy CodeCraft. Our team is a blend of diverse talents, each bringing unique expertise to the table.</p>
                    </div>
                </div>
            </div>
            <div class="team-grid">
                <div class="team-user" id="w-node-_20544f73-23f3-347c-70f8-c5fa56089b0e-4e7cb8a4">
                    <img alt="" class="team-image" sizes="(max-width: 479px) 88vw, (max-width: 767px) 78vw, (max-width: 991px) 24vw, (max-width: 1439px) 25vw, 290.9028015136719px" src="images/user-20image-2001.webp" srcset="images/user-20image-2001-p-500.webp 500w, images/user-20image-2001-p-800.webp 800w, images/user-20image-2001.webp 1052w">
                    <div class="team-content">
                        <div class="teammate-title">
                            Richard Jones
                        </div>
                        <p class="paragraph-s">Graphic Design Lead</p>
                    </div>
                    <div class="team-links">
                        <a class="feature-icon-holder w-inline-block" href="http://facebook.com" target="_blank"><img alt="" class="feature-icon" src="images/facebook.svg"></a><a class="feature-icon-holder w-inline-block" href="http://linkedin.com" target="_blank"><img alt="" class="feature-icon" src="images/linkedin.svg"></a><a class="feature-icon-holder w-inline-block" href="http://twitter.com" target="_blank"><img alt="" class="feature-icon" src="images/insta.svg"></a>
                    </div>
                </div>
                <div class="team-user" id="w-node-_43d2d47f-7282-606e-1b60-64f8efb24a14-4e7cb8a4">
                    <img alt="" class="team-image" sizes="(max-width: 479px) 88vw, (max-width: 767px) 78vw, (max-width: 991px) 24vw, (max-width: 1439px) 25vw, 290.9114685058594px" src="images/user-20image-2002.webp" srcset="images/user-20image-2002-p-500.webp 500w, images/user-20image-2002-p-800.webp 800w, images/user-20image-2002.webp 1052w">
                    <div class="team-content">
                        <div class="teammate-title">
                            Diane Lansdowne
                        </div>
                        <p class="paragraph-s">Content Creation Manager</p>
                    </div>
                    <div class="team-links">
                        <a class="feature-icon-holder w-inline-block" href="http://facebook.com" target="_blank"><img alt="" class="feature-icon" src="images/facebook.svg"></a><a class="feature-icon-holder w-inline-block" href="http://linkedin.com" target="_blank"><img alt="" class="feature-icon" src="images/linkedin.svg"></a><a class="feature-icon-holder w-inline-block" href="http://twitter.com" target="_blank"><img alt="" class="feature-icon" src="images/insta.svg"></a>
                    </div>
                </div>
                <div class="team-user" id="w-node-_9573bdde-5d11-c32e-288d-3d8f02e340dc-4e7cb8a4">
                    <img alt="" class="team-image" sizes="(max-width: 479px) 88vw, (max-width: 767px) 78vw, (max-width: 991px) 24vw, (max-width: 1439px) 25vw, 290.9114685058594px" src="images/user-20image-2003.webp" srcset="images/user-20image-2003-p-500.webp 500w, images/user-20image-2003-p-800.webp 800w, images/user-20image-2003.webp 1052w">
                    <div class="team-content">
                        <div class="teammate-title">
                            Jordi Santiago
                        </div>
                        <p class="paragraph-s">UX/UI Design Lead</p>
                    </div>
                    <div class="team-links">
                        <a class="feature-icon-holder w-inline-block" href="http://facebook.com" target="_blank"><img alt="" class="feature-icon" src="images/facebook.svg"></a><a class="feature-icon-holder w-inline-block" href="http://linkedin.com" target="_blank"><img alt="" class="feature-icon" src="images/linkedin.svg"></a><a class="feature-icon-holder w-inline-block" href="http://twitter.com" target="_blank"><img alt="" class="feature-icon" src="images/insta.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="section-paddings">
            <div class="comapny-facts-holder">
                <div class="w-layout-grid compant-facts-grid">
                    <div class="company-fact" data-w-id="afd7f914-dd42-1d89-3796-8654f33d9a64" id="w-node-afd7f914-dd42-1d89-3796-8654f33d9a64-4e7cb8a4" style="opacity:0">
                        <img alt="" class="company-fact-image" src="images/fact-20icon-200.svg">
                        <p class="no-margins">Over 10 million downloads &amp; users worldwide.</p>
                    </div>
                    <div class="company-fact" data-w-id="78a7c657-a841-38b0-6e36-a6ae3c04b4a3" id="w-node-_78a7c657-a841-38b0-6e36-a6ae3c04b4a3-4e7cb8a4" style="opacity:0">
                        <img alt="" class="company-fact-image" src="images/fact-20icon-203.svg">
                        <p class="no-margins">13 hours of drawing created daily on the app.</p>
                    </div>
                    <div class="company-fact" data-w-id="51607d88-b6ea-d564-0002-5984d71b4bf6" id="w-node-_51607d88-b6ea-d564-0002-5984d71b4bf6-4e7cb8a4" style="opacity:0">
                        <img alt="" class="company-fact-image middle" src="images/apple-20thumbnail.svg">
                        <p class="no-margins">Available on iOS</p>
                    </div>
                    <div class="company-fact" data-w-id="2a46d27a-f681-03b7-b151-7ca1b81817e4" id="w-node-_2a46d27a-f681-03b7-b151-7ca1b81817e4-4e7cb8a4" style="opacity:0">
                        <img alt="" class="company-fact-image" src="images/fact-20icon-201.svg">
                        <p class="no-margins">5 star rating on app stores.</p>
                    </div>
                    <div class="company-fact" data-w-id="6a4699f1-e8bc-6952-72fc-441f18db12c9" id="w-node-_6a4699f1-e8bc-6952-72fc-441f18db12c9-4e7cb8a4" style="opacity:0">
                        <img alt="" class="company-fact-image" src="images/fact-20icon-202.svg">
                        <p class="no-margins">80+ unique drawing tools and features available.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="full-screen-cta">
        <div class="container">
            <div class="full-screen-cta-content">
                <div class="fade-in-on-scroll">
                    <h2 class="no-margins">Are you looking to start a new chapter?</h2>
                </div>
                <div class="fade-in-on-scroll">
                    <p class="no-margins">We&#x27;re always looking for new talent to join our team at ViaVia Drawing App. Whether you&#x27;re a developer, designer, or marketer, if you&#x27;re passionate about creativity and technology, we want to hear from you. Explore our current openings and be part of our exciting journey!</p>
                </div>
                <div class="fade-in-on-scroll">
                    <a class="button w-button" href="/contact">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="full-screen-cta-image-holder">
            <img alt="" class="full-screen-cta-image" sizes="100vw" src="images/cta-20bg.webp" srcset="images/cta-20bg-p-500.webp 500w, images/cta-20bg-p-800.webp 800w, images/cta-20bg-p-1080.webp 1080w, images/cta-20bg.webp 1455w">
            <div class="cta-overlay"></div>
        </div>
    </div>
</div>
<div class="section overflow-hidden">
    <div class="container">
        <div class="section-paddings">
            <div class="section-center-text">
                <div class="section-title xl">
                    <div class="fade-in-on-scroll">
                        <h2 class="title medium">Strokes of approval, artists speak</h2>
                    </div>
                </div>
                <div class="section-paragraph">
                    <div class="fade-in-on-scroll">
                        <p>Experience the magic of art meets technology. Our integrated AI enhances your creations, offering suggestions, refining details, and sparking new ideas.</p>
                    </div>
                </div>
            </div>
            <div class="testimonal-slider w-slider" data-animation="slide" data-autoplay="false" data-autoplay-limit="0" data-delay="4000" data-disable-swipe="false" data-duration="500" data-easing="ease" data-hide-arrows="false" data-infinite="false" data-nav-spacing="3">
                <div class="testimonal-mask w-slider-mask">
                    <div class="testimonal-slide w-slide">
                        <div class="testimonal-info">
                            <img alt="" class="user-image" src="images/testimonial-20user-2001.jpg">
                            <div class="testimonial-info-text">
                                <div class="user-name">
                                    Emily Chen
                                </div>
                                <div class="user-job-position">
                                    DevOps Specialist
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            &quot;Switching to the drawing app was a game-changer for me. Even on the free plan, I found enough tools to fuel my creativity. Upgrading to the Standard Plan unlocked a whole new world of possibilities with expanded features and cloud storage. The support team is top-notch, and the tutorials are incredibly helpful. Highly recommended!&quot;
                        </div>
                    </div>
                    <div class="testimonal-slide w-slide">
                        <div class="testimonal-info">
                            <img alt="" class="user-image" src="images/testimonial-20user-2003.jpg">
                            <div class="testimonial-info-text">
                                <div class="user-name">
                                    Sarah Thompson
                                </div>
                                <div class="user-job-position">
                                    Senior Software Engineer
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            &quot;The drawing app has revolutionized the way I create art. With its intuitive interface and diverse toolset, even the free plan offers a remarkable experience. Upgrading to the Standard Plan was a no-brainer for me - the added features and support have truly elevated my artwork. Whether you&#x27;re a novice or a seasoned artist, this app is a must-have.&quot;
                        </div>
                    </div>
                    <div class="testimonal-slide w-slide">
                        <div class="testimonal-info">
                            <img alt="" class="user-image" src="images/testimonial-20user-2002.jpg">
                            <div class="testimonial-info-text">
                                <div class="user-name">
                                    Alex Rodriguez
                                </div>
                                <div class="user-job-position">
                                    UX/UI Frontend Developer
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            “Experience the magic of art meets technology. Our integrated AI enhances your creations, offering suggestions, refining details, and sparking new ideas eets technology. Our integrated AI enhances your creations, offering suggestions, refining details, and sparking new ideas”
                        </div>
                    </div>
                    <div class="testimonal-slide w-slide">
                        <div class="testimonal-info">
                            <img alt="" class="user-image" src="images/testimonial-20user-2001.jpg">
                            <div class="testimonial-info-text">
                                <div class="user-name">
                                    Emily Chen
                                </div>
                                <div class="user-job-position">
                                    DevOps Specialist
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            &quot;Switching to the drawing app was a game-changer for me. Even on the free plan, I found enough tools to fuel my creativity. Upgrading to the Standard Plan unlocked a whole new world of possibilities with expanded features and cloud storage. The support team is top-notch, and the tutorials are incredibly helpful. Highly recommended!&quot;
                        </div>
                    </div>
                    <div class="testimonal-slide w-slide">
                        <div class="testimonal-info">
                            <img alt="" class="user-image" src="images/testimonial-20user-2003.jpg">
                            <div class="testimonial-info-text">
                                <div class="user-name">
                                    Sarah Thompson
                                </div>
                                <div class="user-job-position">
                                    Senior Software Engineer
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            &quot;The drawing app has revolutionized the way I create art. With its intuitive interface and diverse toolset, even the free plan offers a remarkable experience. Upgrading to the Standard Plan was a no-brainer for me - the added features and support have truly elevated my artwork. Whether you&#x27;re a novice or a seasoned artist, this app is a must-have.&quot;
                        </div>
                    </div>
                    <div class="testimonal-slide w-slide">
                        <div class="testimonal-info">
                            <img alt="" class="user-image" src="images/testimonial-20user-2002.jpg">
                            <div class="testimonial-info-text">
                                <div class="user-name">
                                    Alex Rodriguez
                                </div>
                                <div class="user-job-position">
                                    UX/UI Frontend Developer
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            “Experience the magic of art meets technology. Our integrated AI enhances your creations, offering suggestions, refining details, and sparking new ideas eets technology. Our integrated AI enhances your creations, offering suggestions, refining details, and sparking new ideas”
                        </div>
                    </div>
                </div>
                <div class="left-arrow w-slider-arrow-left">
                    <div class="arrow-holder"><img alt="" class="arrow-icon" src="images/left-20arrow.svg"></div>
                </div>
                <div class="right-arrow w-slider-arrow-right">
                    <div class="arrow-holder"><img alt="" class="arrow-icon right-side" src="images/right-20arrow.svg"></div>
                </div>
                <div class="hide w-slider-nav w-round w-num"></div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="section-paddings">
            <div class="section-center-text">
                <div class="section-title xl">
                    <div class="fade-in-on-scroll">
                        <h2 class="title medium">Frequently asked questions</h2>
                    </div>
                </div>
                <div class="section-paragraph">
                    <div class="fade-in-on-scroll">
                        <p>Everything you need to know</p>
                    </div>
                </div>
            </div>
            <div class="questions-holder">
                <div class="questions-container">
                    <div class="question">
                        <div class="question-text">
                            What makes Viavia stand out among other drawing apps?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.
                        </div>
                    </div>
                </div>
                <div class="questions-container">
                    <div class="question">
                        <div class="question-text">
                            How does it affect artists in their day-to-day work?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            Profile View allows developers to create customized coding environments, optimizing layouts, fonts, and profiles. This flexibility enables efficient switching between different project setups, enhancing productivity and creating a tailored workspace for varied coding tasks.
                        </div>
                    </div>
                </div>
                <div class="questions-container">
                    <div class="question">
                        <div class="question-text">
                            Can you elaborate on the significance of Editor Color Changes in Viavia?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            Editor Color Changes empower users to choose from a spectrum of color themes, enhancing the visual experience of coding. This feature not only allows for personalization but also contributes to reduced eye strain and a more enjoyable coding ambiance.
                        </div>
                    </div>
                </div>
                <div class="questions-container">
                    <div class="question">
                        <div class="question-text">
                            How does Fast Theme Changes contribute to an efficient coding workflow?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            Fast Theme Changes enable users to switch between coding themes seamlessly, adapting their environment to different tasks or moods swiftly. This feature is designed to reduce disruption, allowing developers to maintain focus and workflow efficiency.
                        </div>
                    </div>
                </div>
                <div class="questions-container">
                    <div class="question">
                        <div class="question-text">
                            What role does Cloud Integration play in Viavia, and how does it benefit users?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            ViaVia Cloud Integration ensures that users can access and collaborate on their projects from anywhere. This feature promotes flexibility, allowing developers to work seamlessly across devices and ensuring that collaboration remains uninterrupted, even in a distributed team setup.
                        </div>
                    </div>
                </div>
                <div class="questions-container last-one">
                    <div class="question">
                        <div class="question-text">
                            Can Viavia be used for specific coding languages, or does it support a wide range of languages?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            ViaVia is designed to be versatile and supports a wide range of coding languages. From Python to JavaScript and beyond, ViaVia provides a unified platform that adapts to the diverse needs of developers, making it suitable for a variety of projects and coding scenarios.<br>
                        </div>
                    </div>
                </div>
                <div class="fade-in-on-scroll">
                    <div class="colored-block">
                        <div class="questions-cta">
                            <div class="heading-and-supporting-text">
                                <div class="small-cta-heading">
                                    Still have questions?
                                </div>
                                <p class="paragraph-l">Can’t find the answer you’re looking for? Please chat to our friendly team.</p>
                            </div>
                            <div class="content">
                                <a class="button with-icon w-button" href="/contact">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cta-wrapper" data-w-id="8ed71055-6ae7-5324-a6d4-54fc76e0e2d9">
    <div class="container">
        <div class="cta-container">
            <div class="cta-form-holder">
                <div class="cta-heading-holder">
                    <div class="cta-logo-holder">
                        <img alt="" class="cta-logo" sizes="70px" src="images/logo-20hq.png" srcset="images/logo-20hq-p-500.png 500w, images/logo-20hq.png 730w">
                        <div class="cta-line"></div>
                    </div>
                    <div class="fade-in-on-scroll">
                        <div class="cta-heading-wrapper">
                            <div class="cta-heading">
                                For everyone with a desire to <span class="red-text">create.</span>
                            </div>
                        </div>
                    </div>
                    <div class="fade-in-on-scroll">
                        <div class="cta-paragraph-holder">
                            <p>Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up..</p>
                        </div>
                    </div>
                </div>
                <div class="fade-in-on-scroll">
                    <a class="button w-button" href="http://Google.com" target="_blank">Download ViaVia</a>
                </div>
            </div>
            <div class="hero-device-container cta-device">
                <div class="home-device-holder" data-w-id="0af5634c-0e89-c685-5d0d-c8efa13bdbcc">
                    <img alt="" class="hero-device-image" sizes="(max-width: 479px) 94vw, (max-width: 767px) 93vw, (max-width: 1439px) 85vw, 975.59375px" src="images/apple-20ipad-20pro-2013-20space-20gray.png" srcset="images/apple-20ipad-20pro-2013-20space-20gray-p-500.png 500w, images/apple-20ipad-20pro-2013-20space-20gray-p-800.png 800w, images/apple-20ipad-20pro-2013-20space-20gray-p-1080.png 1080w, images/apple-20ipad-20pro-2013-20space-20gray-p-1600.png 1600w, images/apple-20ipad-20pro-2013-20space-20gray.png 1708w">
                    <div class="hero-app-holder"><img alt="" class="ipad-app" sizes="(max-width: 479px) 88vw, (max-width: 767px) 86vw, (max-width: 1439px) 79vw, 911.2239990234375px" src="images/project-20screen-20-ai-20girl-20red.webp" srcset="images/project-20screen-20-ai-20girl-20red-p-500.webp 500w, images/project-20screen-20-ai-20girl-20red-p-800.webp 800w, images/project-20screen-20-ai-20girl-20red-p-1080.webp 1080w, images/project-20screen-20-ai-20girl-20red-p-1600.webp 1600w, images/project-20screen-20-ai-20girl-20red-p-2000.webp 2000w, images/project-20screen-20-ai-20girl-20red.webp 2012w"></div>
                </div>
            </div>
        </div>
    </div>
</div>