<div class="section overflow-hidden">
    <div class="hero-section">
        <div class="container">
            <div class="hero-section-center-holder" style="-webkit-transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)">
                <div class="animate-on-load-01" style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
                    <div class="hero-center-text">
                        <h1 class="hero-title">Picture this. <em>Actually</em>.</h1>
                    </div>
                </div>
                <div class="hero-app-container">
                    <div class="hero-app-wrapper static">
                        <div class="hero-device-holder">
                            <img alt="" class="hero-device-image" sizes="(max-width: 479px) 94vw, (max-width: 767px) 88vw, 600px" src="images/apple-20ipad-20pro-2013-20space-20gray.png" srcset="images/apple-20ipad-20pro-2013-20space-20gray-p-500.png 500w, images/apple-20ipad-20pro-2013-20space-20gray-p-800.png 800w, images/apple-20ipad-20pro-2013-20space-20gray-p-1080.png 1080w, images/apple-20ipad-20pro-2013-20space-20gray-p-1600.png 1600w, images/apple-20ipad-20pro-2013-20space-20gray.png 1708w">
                            <div class="hero-app-holder"><img alt="" class="ipad-app" sizes="(max-width: 479px) 88vw, (max-width: 767px) 83vw, 561.6146240234375px" src="images/project-20screen-20-ai-20girl.webp" srcset="images/project-20screen-20-ai-20girl-p-500.webp 500w, images/project-20screen-20-ai-20girl-p-800.webp 800w, images/project-20screen-20-ai-20girl-p-1080.webp 1080w, images/project-20screen-20-ai-20girl-p-1600.webp 1600w, images/project-20screen-20-ai-20girl-p-2000.webp 2000w, images/project-20screen-20-ai-20girl.webp 2012w"></div>
                        </div>
                    </div>
                    <div class="hero-app-wrapper reflection">
                        <div class="hero-device-holder">
                            <img alt="" class="hero-device-image" sizes="(max-width: 479px) 94vw, (max-width: 767px) 88vw, 600px" src="images/apple-20ipad-20pro-2013-20space-20gray.png" srcset="images/apple-20ipad-20pro-2013-20space-20gray-p-500.png 500w, images/apple-20ipad-20pro-2013-20space-20gray-p-800.png 800w, images/apple-20ipad-20pro-2013-20space-20gray-p-1080.png 1080w, images/apple-20ipad-20pro-2013-20space-20gray-p-1600.png 1600w, images/apple-20ipad-20pro-2013-20space-20gray.png 1708w">
                            <div class="hero-app-holder"><img alt="" class="ipad-app" sizes="(max-width: 479px) 88vw, (max-width: 767px) 83vw, 561.6146240234375px" src="images/project-20screen-20-ai-20girl.webp" srcset="images/project-20screen-20-ai-20girl-p-500.webp 500w, images/project-20screen-20-ai-20girl-p-800.webp 800w, images/project-20screen-20-ai-20girl-p-1080.webp 1080w, images/project-20screen-20-ai-20girl-p-1600.webp 1600w, images/project-20screen-20-ai-20girl-p-2000.webp 2000w, images/project-20screen-20-ai-20girl.webp 2012w"></div>
                        </div>
                        <div class="relfection-overlay"></div>
                    </div>
                </div>
                <div class="hero-content">
                    <div class="animate-on-load-02" style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
                        <div class="hero-logo-holder"><img alt="" class="hero-logo" src="images/via-20logo.svg"></div>
                    </div>
                    <div class="animate-on-load-03" style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)">
                        <div class="hero-content-heading">
                            <div class="hero-heading-02">
                                Unleash your creativity with our app
                            </div>
                        </div>
                    </div>
                    <div class="animate-on-load-04" style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
                        <div class="center-hero-paragraph-holder">
                            <p>Our drawing app is not just a tool; it&#x27;s a portal to a world where your ideas, dreams, and imagination take tangible form.</p>
                        </div>
                    </div>
                    <div class="animate-on-load-04 hero-content-heading">
                        <div class="hero-button-holder">
                            <a class="button w-button" href="/pricing">Get Started</a>
                            <div class="red-shadow-absolute"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="light-wrapper">
            <div class="lights-holder">
                <div class="light left" style="opacity:0;height:0px"></div>
                <div class="light middle" style="opacity:0;height:0px"></div>
                <div class="light right" style="opacity:0;height:0px"></div>
            </div>
        </div>
    </div>
    <div class="trusted-by">
        <div class="center-text">
            <div class="fade-in-on-scroll">
                <p>Join 4,000+ companies already growing</p>
            </div>
        </div>
        <div class="fade-in-on-scroll">
            <div class="company-logo-holder">
                <div class="company-logo-container">
                    <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2003.svg"></div>
                    <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2001.svg"></div>
                    <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2002.svg"></div>
                    <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2004.svg"></div>
                    <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2005.svg"></div>
                    <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2001.svg"></div>
                    <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2002.svg"></div>
                    <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2005-1.svg"></div>
                </div>
                <div class="company-logo-container">
                    <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2003.svg"></div>
                    <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2001.svg"></div>
                    <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2002.svg"></div>
                    <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2004.svg"></div>
                    <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2005.svg"></div>
                    <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2001.svg"></div>
                    <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2002.svg"></div>
                    <div class="company-logo-wrapper"><img alt="" class="company-logo" src="images/logo-2005-1.svg"></div>
                </div>
                <div class="graident-for-logos"></div>
                <div class="graident-for-logos right"></div>
            </div>
        </div>
    </div>
</div>
<div class="section grey-section">
    <div class="section-padding">
        <div class="container">
            <div class="section-center-text">
                <div class="section-title">
                    <div class="fade-in-on-scroll">
                        <h2 class="title">Artistic Alchemy</h2>
                    </div>
                </div>
                <div class="section-paragraph medium-length">
                    <div class="fade-in-on-scroll">
                        <p>Experience the magic of art meets technology. Our integrated AI enhances your creations, offering suggestions, refining details, and sparking new ideas. Unleash the power of AI to amplify your artistic journey with Viavia.</p>
                    </div>
                </div>
            </div>
            <div class="fade-in-on-scroll">
                <div class="ai-promt-holder">
                    <div class="ai-promt-container">
                        <div class="ai-promt-content">
                            <img alt="" class="ai-stars" src="images/ai-20stars.svg">
                            <div class="ai-promt-text-switch">
                                <div class="ai-promt-text-holder">
                                    <div class="ai-promt-text">
                                        Generate Studio Lighting
                                    </div>
                                </div>
                                <div class="ai-promt-text-holder">
                                    <div class="ai-promt-text">
                                        Create Background Image
                                    </div>
                                </div>
                                <div class="ai-promt-text-holder">
                                    <div class="ai-promt-text">
                                        Generate Rain Fall On Image
                                    </div>
                                </div>
                                <div class="ai-promt-text-holder">
                                    <div class="ai-promt-text">
                                        Change the color of the eyes
                                    </div>
                                </div>
                                <div class="ai-promt-text-holder">
                                    <div class="ai-promt-text">
                                        Generate Studio Lighting
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="red-shadow-absolute"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ipads-grid-holder" data-w-id="e62e6ada-d6c6-ae57-caae-c04c7af2aa16">
            <div class="w-layout-grid ipads-grid">
                <div class="home-device-wrapper _01">
                    <div class="home-device-holder top" data-w-id="81013338-c43a-4fd8-24a6-47225484df40" style="opacity:0">
                        <img alt="" class="hero-device-image" sizes="(max-width: 479px) 66vw, (max-width: 767px) 56vw, (max-width: 991px) 57vw, (max-width: 1439px) 54vw, 49vw" src="images/apple-20ipad-20pro-2013-20space-20gray.png" srcset="images/apple-20ipad-20pro-2013-20space-20gray-p-500.png 500w, images/apple-20ipad-20pro-2013-20space-20gray-p-800.png 800w, images/apple-20ipad-20pro-2013-20space-20gray-p-1080.png 1080w, images/apple-20ipad-20pro-2013-20space-20gray-p-1600.png 1600w, images/apple-20ipad-20pro-2013-20space-20gray.png 1708w">
                        <div class="hero-app-holder"><img alt="" class="ipad-app" sizes="(max-width: 479px) 62vw, (max-width: 767px) 52vw, (max-width: 991px) 53vw, (max-width: 1439px) 51vw, 46vw" src="images/project-20screen-20-ai-20car.webp" srcset="images/project-20screen-20-ai-20car-p-500.webp 500w, images/project-20screen-20-ai-20car-p-800.webp 800w, images/project-20screen-20-ai-20car-p-1080.webp 1080w, images/project-20screen-20-ai-20car-p-1600.webp 1600w, images/project-20screen-20-ai-20car.webp 2012w"></div>
                    </div>
                </div>
                <div class="home-device-wrapper _02">
                    <div class="hero-device-container" data-w-id="423d8e7e-251a-f02a-b608-63612b4361b5" style="opacity:0">
                        <div class="home-device-holder">
                            <img alt="" class="hero-device-image" sizes="(max-width: 479px) 83vw, (max-width: 767px) 70vw, (max-width: 991px) 71vw, (max-width: 1439px) 68vw, 61vw" src="images/apple-20ipad-20pro-2013-20space-20gray.png" srcset="images/apple-20ipad-20pro-2013-20space-20gray-p-500.png 500w, images/apple-20ipad-20pro-2013-20space-20gray-p-800.png 800w, images/apple-20ipad-20pro-2013-20space-20gray-p-1080.png 1080w, images/apple-20ipad-20pro-2013-20space-20gray-p-1600.png 1600w, images/apple-20ipad-20pro-2013-20space-20gray.png 1708w">
                            <div class="hero-app-holder"><img alt="" class="ipad-app" sizes="(max-width: 479px) 78vw, (max-width: 991px) 66vw, (max-width: 1439px) 63vw, 57vw" src="images/project-20screen-20-ai-20promt.webp" srcset="images/project-20screen-20-ai-20promt-p-500.webp 500w, images/project-20screen-20-ai-20promt-p-800.webp 800w, images/project-20screen-20-ai-20promt-p-1080.webp 1080w, images/project-20screen-20-ai-20promt-p-1600.webp 1600w, images/project-20screen-20-ai-20promt.webp 2012w"></div>
                        </div>
                        <div class="device-description">
                            Experience the magic of art meets technology.
                        </div>
                    </div>
                </div>
                <div class="home-device-wrapper _03">
                    <div class="home-device-holder top" data-w-id="9dd859c2-3c00-fa47-d292-086c73cfe83f" style="opacity:0">
                        <img alt="" class="hero-device-image" sizes="(max-width: 479px) 66vw, (max-width: 767px) 56vw, (max-width: 991px) 57vw, (max-width: 1439px) 54vw, 49vw" src="images/apple-20ipad-20pro-2013-20space-20gray.png" srcset="images/apple-20ipad-20pro-2013-20space-20gray-p-500.png 500w, images/apple-20ipad-20pro-2013-20space-20gray-p-800.png 800w, images/apple-20ipad-20pro-2013-20space-20gray-p-1080.png 1080w, images/apple-20ipad-20pro-2013-20space-20gray-p-1600.png 1600w, images/apple-20ipad-20pro-2013-20space-20gray.png 1708w">
                        <div class="hero-app-holder"><img alt="" class="ipad-app" sizes="(max-width: 479px) 62vw, (max-width: 767px) 52vw, (max-width: 991px) 53vw, (max-width: 1439px) 51vw, 46vw" src="images/project-20screen-20-ai-20girl-20red.webp" srcset="images/project-20screen-20-ai-20girl-20red-p-500.webp 500w, images/project-20screen-20-ai-20girl-20red-p-800.webp 800w, images/project-20screen-20-ai-20girl-20red-p-1080.webp 1080w, images/project-20screen-20-ai-20girl-20red-p-1600.webp 1600w, images/project-20screen-20-ai-20girl-20red-p-2000.webp 2000w, images/project-20screen-20-ai-20girl-20red.webp 2012w"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section grey-section">
        <div class="section-padding">
            <div class="container">
                <div class="section-center-text">
                    <div class="section-title">
                        <div class="fade-in-on-scroll">
                            <h2 class="title">Style Transfer</h2>
                        </div>
                    </div>
                    <div class="section-paragraph medium-length">
                        <div class="fade-in-on-scroll">
                            <p>Experience the magic of art meets technology. Our integrated AI enhances your creations, offering suggestions, refining details, and sparking new ideas.</p>
                        </div>
                    </div>
                    <div class="section-cta-button">
                        <div class="fade-in-on-scroll">
                            <a class="button w-button" href="/features">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="fade-in-on-scroll">
                    <div class="hero-device-container style-transfer">
                        <div class="home-device-holder" data-w-id="308d1dec-3e07-da60-da02-de21707043bc">
                            <img alt="" class="hero-device-image" sizes="(max-width: 479px) 94vw, (max-width: 767px) 93vw, (max-width: 1439px) 94vw, 1084px" src="images/apple-20ipad-20pro-2013-20space-20gray.png" srcset="images/apple-20ipad-20pro-2013-20space-20gray-p-500.png 500w, images/apple-20ipad-20pro-2013-20space-20gray-p-800.png 800w, images/apple-20ipad-20pro-2013-20space-20gray-p-1080.png 1080w, images/apple-20ipad-20pro-2013-20space-20gray-p-1600.png 1600w, images/apple-20ipad-20pro-2013-20space-20gray.png 1708w">
                            <div class="hero-app-holder">
                                <img alt="" class="ipad-app" sizes="(max-width: 479px) 88vw, (max-width: 767px) 87vw, (max-width: 1439px) 88vw, 1014.625px" src="images/project-20screen-20-ai-.jpg" srcset="images/project-20screen-20-ai-p-500.jpg 500w, images/project-20screen-20-ai-p-800.jpg 800w, images/project-20screen-20-ai-p-1080.jpg 1080w, images/project-20screen-20-ai-p-1600.jpg 1600w, images/project-20screen-20-ai-p-2000.jpg 2000w, images/project-20screen-20-ai-.jpg 2012w">
                                <div class="style-transfer-holder">
                                    <div class="style-transfer-images-holder" data-w-id="10caf7e5-2649-5f21-859f-fa7818a3a8e5">
                                        <img alt="" class="style-transfer-images _02" sizes="(max-width: 1439px) 42vw, 487.8125px" src="images/drawing-transformed.webp" srcset="images/drawing-transformed-p-500.webp 500w, images/drawing-transformed-p-800.webp 800w, images/drawing-transformed-p-1080.webp 1080w, images/drawing-transformed.webp 1440w"><img alt="" class="style-transfer-images" sizes="(max-width: 479px) 85vw, (max-width: 767px) 83vw, (max-width: 1439px) 85vw, 975.625px" src="images/full-20image.webp" srcset="images/full-20image-p-500.webp 500w, images/full-20image-p-800.webp 800w, images/full-20image-p-1080.webp 1080w, images/full-20image.webp 1456w">
                                        <div class="style-transfer-line-holder">
                                            <div class="style-transfer-logo-holder">
                                                <div class="style-transfer-logo-container"><img alt="" class="style-transfer-logo" src="images/ai-20stars.svg"></div>
                                                <div class="red-shadow-absolute"></div>
                                            </div>
                                            <div class="style-transfer-line"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="device-description">
                            Experience the magic of art meets technology.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section overflow-hidden">
    <div class="container">
        <div class="section-paddings">
            <div class="section-center-text">
                <div class="section-title xl">
                    <div class="fade-in-on-scroll">
                        <h2 class="title medium">Strokes of approval, artists speak</h2>
                    </div>
                </div>
                <div class="section-paragraph">
                    <div class="fade-in-on-scroll">
                        <p>Experience the magic of art meets technology. Our integrated AI enhances your creations, offering suggestions, refining details, and sparking new ideas.</p>
                    </div>
                </div>
            </div>
            <div class="testimonal-slider w-slider" data-animation="slide" data-autoplay="false" data-autoplay-limit="0" data-delay="4000" data-disable-swipe="false" data-duration="500" data-easing="ease" data-hide-arrows="false" data-infinite="false" data-nav-spacing="3">
                <div class="testimonal-mask w-slider-mask">
                    <div class="testimonal-slide w-slide">
                        <div class="testimonal-info">
                            <img alt="" class="user-image" src="images/testimonial-20user-2001.jpg">
                            <div class="testimonial-info-text">
                                <div class="user-name">
                                    Emily Chen
                                </div>
                                <div class="user-job-position">
                                    DevOps Specialist
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            &quot;Switching to the drawing app was a game-changer for me. Even on the free plan, I found enough tools to fuel my creativity. Upgrading to the Standard Plan unlocked a whole new world of possibilities with expanded features and cloud storage. The support team is top-notch, and the tutorials are incredibly helpful. Highly recommended!&quot;
                        </div>
                    </div>
                    <div class="testimonal-slide w-slide">
                        <div class="testimonal-info">
                            <img alt="" class="user-image" src="images/testimonial-20user-2003.jpg">
                            <div class="testimonial-info-text">
                                <div class="user-name">
                                    Sarah Thompson
                                </div>
                                <div class="user-job-position">
                                    Senior Software Engineer
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            &quot;The drawing app has revolutionized the way I create art. With its intuitive interface and diverse toolset, even the free plan offers a remarkable experience. Upgrading to the Standard Plan was a no-brainer for me - the added features and support have truly elevated my artwork. Whether you&#x27;re a novice or a seasoned artist, this app is a must-have.&quot;
                        </div>
                    </div>
                    <div class="testimonal-slide w-slide">
                        <div class="testimonal-info">
                            <img alt="" class="user-image" src="images/testimonial-20user-2002.jpg">
                            <div class="testimonial-info-text">
                                <div class="user-name">
                                    Alex Rodriguez
                                </div>
                                <div class="user-job-position">
                                    UX/UI Frontend Developer
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            “Experience the magic of art meets technology. Our integrated AI enhances your creations, offering suggestions, refining details, and sparking new ideas eets technology. Our integrated AI enhances your creations, offering suggestions, refining details, and sparking new ideas”
                        </div>
                    </div>
                    <div class="testimonal-slide w-slide">
                        <div class="testimonal-info">
                            <img alt="" class="user-image" src="images/testimonial-20user-2001.jpg">
                            <div class="testimonial-info-text">
                                <div class="user-name">
                                    Emily Chen
                                </div>
                                <div class="user-job-position">
                                    DevOps Specialist
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            &quot;Switching to the drawing app was a game-changer for me. Even on the free plan, I found enough tools to fuel my creativity. Upgrading to the Standard Plan unlocked a whole new world of possibilities with expanded features and cloud storage. The support team is top-notch, and the tutorials are incredibly helpful. Highly recommended!&quot;
                        </div>
                    </div>
                    <div class="testimonal-slide w-slide">
                        <div class="testimonal-info">
                            <img alt="" class="user-image" src="images/testimonial-20user-2003.jpg">
                            <div class="testimonial-info-text">
                                <div class="user-name">
                                    Sarah Thompson
                                </div>
                                <div class="user-job-position">
                                    Senior Software Engineer
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            &quot;The drawing app has revolutionized the way I create art. With its intuitive interface and diverse toolset, even the free plan offers a remarkable experience. Upgrading to the Standard Plan was a no-brainer for me - the added features and support have truly elevated my artwork. Whether you&#x27;re a novice or a seasoned artist, this app is a must-have.&quot;
                        </div>
                    </div>
                    <div class="testimonal-slide w-slide">
                        <div class="testimonal-info">
                            <img alt="" class="user-image" src="images/testimonial-20user-2002.jpg">
                            <div class="testimonial-info-text">
                                <div class="user-name">
                                    Alex Rodriguez
                                </div>
                                <div class="user-job-position">
                                    UX/UI Frontend Developer
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            “Experience the magic of art meets technology. Our integrated AI enhances your creations, offering suggestions, refining details, and sparking new ideas eets technology. Our integrated AI enhances your creations, offering suggestions, refining details, and sparking new ideas”
                        </div>
                    </div>
                </div>
                <div class="left-arrow w-slider-arrow-left">
                    <div class="arrow-holder"><img alt="" class="arrow-icon" src="images/left-20arrow.svg"></div>
                </div>
                <div class="right-arrow w-slider-arrow-right">
                    <div class="arrow-holder"><img alt="" class="arrow-icon right-side" src="images/right-20arrow.svg"></div>
                </div>
                <div class="hide w-slider-nav w-round w-num"></div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="section-center-text">
            <div class="section-title xl">
                <div class="fade-in-on-scroll">
                    <h2 class="title medium">Discover our pricing plans</h2>
                </div>
            </div>
            <div class="section-paragraph">
                <div class="fade-in-on-scroll">
                    <p>Experience the magic of art meets technology. Our integrated AI enhances your creations, offering suggestions, refining details, and sparking new ideas.</p>
                </div>
            </div>
        </div>
        <div class="pricing-wrapper">
            <div class="pricing-list-wrapper w-dyn-list">
                <div class="pricing-grid w-dyn-items" role="list">
                    <div class="pricing-list-item w-dyn-item" role="listitem">
                        <div class="pricing">
                            <div class="pricing-header">
                                <div class="price-content">
                                    <div class="price-plan">
                                        Basic plan
                                    </div>
                                    <div class="price-type">
                                        Billed annually.
                                    </div>
                                </div>
                                <div class="price">
                                    Free
                                </div>
                            </div>
                            <div class="pricing-button-holder">
                                <a class="button outline w-button" href="/product/basic-plan">Get started</a>
                            </div>
                            <div class="list-holder">
                                <ul class="w-list-unstyled" role="list">
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Access to all basic features
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Basic reporting and analytics
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Up to 10 individual users
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            20GB individual data each user
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Basic chat and email support
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing middle-pricing w-condition-invisible">
                            <div class="pricing-header">
                                <div class="price-content">
                                    <div class="price-plan">
                                        Basic plan
                                    </div>
                                    <div class="price-type">
                                        Billed annually.
                                    </div>
                                </div>
                                <div class="price">
                                    Free
                                </div>
                            </div>
                            <div class="pricing-button-holder">
                                <a class="button pricing-buttons w-button" href="/product/basic-plan">Get started</a>
                            </div>
                            <div class="list-holder">
                                <ul class="w-list-unstyled" role="list">
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Access to all basic features
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Basic reporting and analytics
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Up to 10 individual users
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            20GB individual data each user
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Basic chat and email support
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text w-dyn-bind-empty"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-list-item w-dyn-item" role="listitem">
                        <div class="pricing w-condition-invisible">
                            <div class="pricing-header">
                                <div class="price-content">
                                    <div class="price-plan">
                                        Business plan
                                    </div>
                                    <div class="price-type">
                                        Billed annually.
                                    </div>
                                </div>
                                <div class="price">
                                    $79 USD
                                </div>
                            </div>
                            <div class="pricing-button-holder">
                                <a class="button outline w-button" href="/product/business-plan">Get started</a>
                            </div>
                            <div class="list-holder">
                                <ul class="w-list-unstyled" role="list">
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Access to all basic features
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Basic reporting and analytics
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Up to 10 individual users
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            20GB individual data each user
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Basic chat and email support
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing middle-pricing">
                            <div class="pricing-header">
                                <div class="price-content">
                                    <div class="price-plan">
                                        Business plan
                                    </div>
                                    <div class="price-type">
                                        Billed annually.
                                    </div>
                                </div>
                                <div class="price">
                                    $79 USD
                                </div>
                            </div>
                            <div class="pricing-button-holder">
                                <a class="button pricing-buttons w-button" href="/product/business-plan">Get started</a>
                            </div>
                            <div class="list-holder">
                                <ul class="w-list-unstyled" role="list">
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Access to all basic features
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Basic reporting and analytics
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Up to 10 individual users
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            20GB individual data each user
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Basic chat and email support
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            20GB Easter Egg Text
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-list-item w-dyn-item" role="listitem">
                        <div class="pricing">
                            <div class="pricing-header">
                                <div class="price-content">
                                    <div class="price-plan">
                                        Enterprise plan
                                    </div>
                                    <div class="price-type">
                                        Billed annually.
                                    </div>
                                </div>
                                <div class="price">
                                    $90 USD
                                </div>
                            </div>
                            <div class="pricing-button-holder">
                                <a class="button outline w-button" href="/product/enterprise-plan">Get started</a>
                            </div>
                            <div class="list-holder">
                                <ul class="w-list-unstyled" role="list">
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Access to all basic features
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Basic reporting and analytics
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Up to 10 individual users
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            20GB individual data each user
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Basic chat and email support
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing middle-pricing w-condition-invisible">
                            <div class="pricing-header">
                                <div class="price-content">
                                    <div class="price-plan">
                                        Enterprise plan
                                    </div>
                                    <div class="price-type">
                                        Billed annually.
                                    </div>
                                </div>
                                <div class="price">
                                    $90 USD
                                </div>
                            </div>
                            <div class="pricing-button-holder">
                                <a class="button pricing-buttons w-button" href="/product/enterprise-plan">Get started</a>
                            </div>
                            <div class="list-holder">
                                <ul class="w-list-unstyled" role="list">
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Access to all basic features
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Basic reporting and analytics
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Up to 10 individual users
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            20GB individual data each user
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text">
                                            Basic chat and email support
                                        </div>
                                    </li>
                                    <li class="list-item">
                                        <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                        <div class="check-item-text w-dyn-bind-empty"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="section-paddings">
            <div class="section-center-text">
                <div class="section-title xl">
                    <div class="fade-in-on-scroll">
                        <h2 class="title medium">Frequently asked questions</h2>
                    </div>
                </div>
                <div class="section-paragraph">
                    <div class="fade-in-on-scroll">
                        <p>Everything you need to know</p>
                    </div>
                </div>
            </div>
            <div class="questions-holder">
                <div class="questions-container">
                    <div class="question">
                        <div class="question-text">
                            What makes Viavia stand out among other drawing apps?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.
                        </div>
                    </div>
                </div>
                <div class="questions-container">
                    <div class="question">
                        <div class="question-text">
                            How does it affect artists in their day-to-day work?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            Profile View allows developers to create customized coding environments, optimizing layouts, fonts, and profiles. This flexibility enables efficient switching between different project setups, enhancing productivity and creating a tailored workspace for varied coding tasks.
                        </div>
                    </div>
                </div>
                <div class="questions-container">
                    <div class="question">
                        <div class="question-text">
                            Can you elaborate on the significance of Editor Color Changes in Viavia?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            Editor Color Changes empower users to choose from a spectrum of color themes, enhancing the visual experience of coding. This feature not only allows for personalization but also contributes to reduced eye strain and a more enjoyable coding ambiance.
                        </div>
                    </div>
                </div>
                <div class="questions-container">
                    <div class="question">
                        <div class="question-text">
                            How does Fast Theme Changes contribute to an efficient coding workflow?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            Fast Theme Changes enable users to switch between coding themes seamlessly, adapting their environment to different tasks or moods swiftly. This feature is designed to reduce disruption, allowing developers to maintain focus and workflow efficiency.
                        </div>
                    </div>
                </div>
                <div class="questions-container">
                    <div class="question">
                        <div class="question-text">
                            What role does Cloud Integration play in Viavia, and how does it benefit users?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            ViaVia Cloud Integration ensures that users can access and collaborate on their projects from anywhere. This feature promotes flexibility, allowing developers to work seamlessly across devices and ensuring that collaboration remains uninterrupted, even in a distributed team setup.
                        </div>
                    </div>
                </div>
                <div class="questions-container last-one">
                    <div class="question">
                        <div class="question-text">
                            Can Viavia be used for specific coding languages, or does it support a wide range of languages?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            ViaVia is designed to be versatile and supports a wide range of coding languages. From Python to JavaScript and beyond, ViaVia provides a unified platform that adapts to the diverse needs of developers, making it suitable for a variety of projects and coding scenarios.<br>
                        </div>
                    </div>
                </div>
                <div class="fade-in-on-scroll">
                    <div class="colored-block">
                        <div class="questions-cta">
                            <div class="heading-and-supporting-text">
                                <div class="small-cta-heading">
                                    Still have questions?
                                </div>
                                <p class="paragraph-l">Can’t find the answer you’re looking for? Please chat to our friendly team.</p>
                            </div>
                            <div class="content">
                                <a class="button with-icon w-button" href="/contact">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cta-wrapper" data-w-id="8ed71055-6ae7-5324-a6d4-54fc76e0e2d9">
    <div class="container">
        <div class="cta-container">
            <div class="cta-form-holder">
                <div class="cta-heading-holder">
                    <div class="cta-logo-holder">
                        <img alt="" class="cta-logo" sizes="70px" src="images/logo-20hq.png" srcset="images/logo-20hq-p-500.png 500w, images/logo-20hq.png 730w">
                        <div class="cta-line"></div>
                    </div>
                    <div class="fade-in-on-scroll">
                        <div class="cta-heading-wrapper">
                            <div class="cta-heading">
                                For everyone with a desire to <span class="red-text">create.</span>
                            </div>
                        </div>
                    </div>
                    <div class="fade-in-on-scroll">
                        <div class="cta-paragraph-holder">
                            <p>Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up..</p>
                        </div>
                    </div>
                </div>
                <div class="fade-in-on-scroll">
                    <a class="button w-button" href="http://Google.com" target="_blank">Download ViaVia</a>
                </div>
            </div>
            <div class="hero-device-container cta-device">
                <div class="home-device-holder" data-w-id="0af5634c-0e89-c685-5d0d-c8efa13bdbcc">
                    <img alt="" class="hero-device-image" sizes="(max-width: 479px) 94vw, (max-width: 767px) 93vw, (max-width: 1439px) 85vw, 975.59375px" src="images/apple-20ipad-20pro-2013-20space-20gray.png" srcset="images/apple-20ipad-20pro-2013-20space-20gray-p-500.png 500w, images/apple-20ipad-20pro-2013-20space-20gray-p-800.png 800w, images/apple-20ipad-20pro-2013-20space-20gray-p-1080.png 1080w, images/apple-20ipad-20pro-2013-20space-20gray-p-1600.png 1600w, images/apple-20ipad-20pro-2013-20space-20gray.png 1708w">
                    <div class="hero-app-holder"><img alt="" class="ipad-app" sizes="(max-width: 479px) 88vw, (max-width: 767px) 86vw, (max-width: 1439px) 79vw, 911.2239990234375px" src="images/project-20screen-20-ai-20girl-20red.webp" srcset="images/project-20screen-20-ai-20girl-20red-p-500.webp 500w, images/project-20screen-20-ai-20girl-20red-p-800.webp 800w, images/project-20screen-20-ai-20girl-20red-p-1080.webp 1080w, images/project-20screen-20-ai-20girl-20red-p-1600.webp 1600w, images/project-20screen-20-ai-20girl-20red-p-2000.webp 2000w, images/project-20screen-20-ai-20girl-20red.webp 2012w"></div>
                </div>
            </div>
        </div>
    </div>
</div>