﻿@model List<Pricing>
@{ 
    List<Сlient> clients = ViewBag.Clients;
}

<div class="section">
    <div class="container">
        <div class="hero-section-center-holder" style="-webkit-transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 80px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)">
            <div class="animate-on-load-02" style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0">
                <div class="hero-center-text">
                    <h1 class="title">Unlocking Value tailored Pricing Plans for Success</h1>
                </div>
            </div>
            <div class="animate-on-load-03" style="opacity:0;-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)">
                <div class="center-hero-paragraph-holder">
                    <p>Experience the magic of art meets technology. Our integrated AI enhances your creations, offering suggestions, refining details, and sparking new ideas.</p>
                </div>
            </div>
            <div class="animate-on-load-03 _100width">
                <div class="pricing-wrapper">
                    <div class="pricing-list-wrapper w-dyn-list">
                        <div class="pricing-grid w-dyn-items" role="list">
                            <div class="pricing-list-item w-dyn-item" role="listitem">
                                <div class="pricing">
                                    <div class="pricing-header">
                                        <div class="price-content">
                                            <div class="price-plan">
                                                Basic plan
                                            </div>
                                            <div class="price-type">
                                                Billed annually.
                                            </div>
                                        </div>
                                        <div class="price">
                                            Free
                                        </div>
                                    </div>
                                    <div class="pricing-button-holder">
                                        <a class="button outline w-button" href="/product/basic-plan">Get started</a>
                                    </div>
                                    <div class="list-holder">
                                        <ul class="w-list-unstyled" role="list">
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Access to all basic features
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Basic reporting and analytics
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Up to 10 individual users
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    20GB individual data each user
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Basic chat and email support
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing middle-pricing w-condition-invisible">
                                    <div class="pricing-header">
                                        <div class="price-content">
                                            <div class="price-plan">
                                                Basic plan
                                            </div>
                                            <div class="price-type">
                                                Billed annually.
                                            </div>
                                        </div>
                                        <div class="price">
                                            Free
                                        </div>
                                    </div>
                                    <div class="pricing-button-holder">
                                        <a class="button pricing-buttons w-button" href="/product/basic-plan">Get started</a>
                                    </div>
                                    <div class="list-holder">
                                        <ul class="w-list-unstyled" role="list">
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Access to all basic features
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Basic reporting and analytics
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Up to 10 individual users
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    20GB individual data each user
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Basic chat and email support
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text w-dyn-bind-empty"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-list-item w-dyn-item" role="listitem">
                                <div class="pricing w-condition-invisible">
                                    <div class="pricing-header">
                                        <div class="price-content">
                                            <div class="price-plan">
                                                Business plan
                                            </div>
                                            <div class="price-type">
                                                Billed annually.
                                            </div>
                                        </div>
                                        <div class="price">
                                            $79 USD
                                        </div>
                                    </div>
                                    <div class="pricing-button-holder">
                                        <a class="button outline w-button" href="/product/business-plan">Get started</a>
                                    </div>
                                    <div class="list-holder">
                                        <ul class="w-list-unstyled" role="list">
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Access to all basic features
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Basic reporting and analytics
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Up to 10 individual users
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    20GB individual data each user
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Basic chat and email support
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing middle-pricing">
                                    <div class="pricing-header">
                                        <div class="price-content">
                                            <div class="price-plan">
                                                Business plan
                                            </div>
                                            <div class="price-type">
                                                Billed annually.
                                            </div>
                                        </div>
                                        <div class="price">
                                            $79 USD
                                        </div>
                                    </div>
                                    <div class="pricing-button-holder">
                                        <a class="button pricing-buttons w-button" href="/product/business-plan">Get started</a>
                                    </div>
                                    <div class="list-holder">
                                        <ul class="w-list-unstyled" role="list">
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Access to all basic features
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Basic reporting and analytics
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Up to 10 individual users
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    20GB individual data each user
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Basic chat and email support
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    20GB Easter Egg Text
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-list-item w-dyn-item" role="listitem">
                                <div class="pricing">
                                    <div class="pricing-header">
                                        <div class="price-content">
                                            <div class="price-plan">
                                                Enterprise plan
                                            </div>
                                            <div class="price-type">
                                                Billed annually.
                                            </div>
                                        </div>
                                        <div class="price">
                                            $90 USD
                                        </div>
                                    </div>
                                    <div class="pricing-button-holder">
                                        <a class="button outline w-button" href="/product/enterprise-plan">Get started</a>
                                    </div>
                                    <div class="list-holder">
                                        <ul class="w-list-unstyled" role="list">
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Access to all basic features
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Basic reporting and analytics
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Up to 10 individual users
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    20GB individual data each user
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="~/images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Basic chat and email support
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing middle-pricing w-condition-invisible">
                                    <div class="pricing-header">
                                        <div class="price-content">
                                            <div class="price-plan">
                                                Enterprise plan
                                            </div>
                                            <div class="price-type">
                                                Billed annually.
                                            </div>
                                        </div>
                                        <div class="price">
                                            $90 USD
                                        </div>
                                    </div>
                                    <div class="pricing-button-holder">
                                        <a class="button pricing-buttons w-button" href="/product/enterprise-plan">Get started</a>
                                    </div>
                                    <div class="list-holder">
                                        <ul class="w-list-unstyled" role="list">
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Access to all basic features
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Basic reporting and analytics
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Up to 10 individual users
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    20GB individual data each user
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text">
                                                    Basic chat and email support
                                                </div>
                                            </li>
                                            <li class="list-item">
                                                <div class="check-icon-holder"><img alt="" class="check-icon" src="images/check-20mark-20red.svg"></div>
                                                <div class="check-item-text w-dyn-bind-empty"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="section-paddings">
            <div class="section-center-text">
                <div class="section-title xl">
                    <div class="fade-in-on-scroll">
                        <h2 class="title medium">Frequently asked questions</h2>
                    </div>
                </div>
                <div class="section-paragraph">
                    <div class="fade-in-on-scroll">
                        <p>Everything you need to know</p>
                    </div>
                </div>
            </div>
            <div class="questions-holder">
                <div class="questions-container">
                    <div class="question">
                        <div class="question-text">
                            What makes Viavia stand out among other drawing apps?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up and running as soon as possible.
                        </div>
                    </div>
                </div>
                <div class="questions-container">
                    <div class="question">
                        <div class="question-text">
                            How does it affect artists in their day-to-day work?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            Profile View allows developers to create customized coding environments, optimizing layouts, fonts, and profiles. This flexibility enables efficient switching between different project setups, enhancing productivity and creating a tailored workspace for varied coding tasks.
                        </div>
                    </div>
                </div>
                <div class="questions-container">
                    <div class="question">
                        <div class="question-text">
                            Can you elaborate on the significance of Editor Color Changes in Viavia?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            Editor Color Changes empower users to choose from a spectrum of color themes, enhancing the visual experience of coding. This feature not only allows for personalization but also contributes to reduced eye strain and a more enjoyable coding ambiance.
                        </div>
                    </div>
                </div>
                <div class="questions-container">
                    <div class="question">
                        <div class="question-text">
                            How does Fast Theme Changes contribute to an efficient coding workflow?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            Fast Theme Changes enable users to switch between coding themes seamlessly, adapting their environment to different tasks or moods swiftly. This feature is designed to reduce disruption, allowing developers to maintain focus and workflow efficiency.
                        </div>
                    </div>
                </div>
                <div class="questions-container">
                    <div class="question">
                        <div class="question-text">
                            What role does Cloud Integration play in Viavia, and how does it benefit users?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            ViaVia Cloud Integration ensures that users can access and collaborate on their projects from anywhere. This feature promotes flexibility, allowing developers to work seamlessly across devices and ensuring that collaboration remains uninterrupted, even in a distributed team setup.
                        </div>
                    </div>
                </div>
                <div class="questions-container last-one">
                    <div class="question">
                        <div class="question-text">
                            Can Viavia be used for specific coding languages, or does it support a wide range of languages?
                        </div><img alt="" class="question-icon" src="images/plus-20icon.svg">
                    </div>
                    <div class="answer-holder">
                        <div class="answer-text">
                            ViaVia is designed to be versatile and supports a wide range of coding languages. From Python to JavaScript and beyond, ViaVia provides a unified platform that adapts to the diverse needs of developers, making it suitable for a variety of projects and coding scenarios.<br>
                        </div>
                    </div>
                </div>
                <div class="fade-in-on-scroll">
                    <div class="colored-block">
                        <div class="questions-cta">
                            <div class="heading-and-supporting-text">
                                <div class="small-cta-heading">
                                    Still have questions?
                                </div>
                                <p class="paragraph-l">Can’t find the answer you’re looking for? Please chat to our friendly team.</p>
                            </div>
                            <div class="content">
                                <a class="button with-icon w-button" href="/contact">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cta-wrapper" data-w-id="8ed71055-6ae7-5324-a6d4-54fc76e0e2d9">
    <div class="container">
        <div class="cta-container">
            <div class="cta-form-holder">
                <div class="cta-heading-holder">
                    <div class="cta-logo-holder">
                        <img alt="" class="cta-logo" sizes="70px" src="images/logo-20hq.png" srcset="images/logo-20hq-p-500.png 500w, images/logo-20hq.png 730w">
                        <div class="cta-line"></div>
                    </div>
                    <div class="fade-in-on-scroll">
                        <div class="cta-heading-wrapper">
                            <div class="cta-heading">
                                For everyone with a desire to <span class="red-text">create.</span>
                            </div>
                        </div>
                    </div>
                    <div class="fade-in-on-scroll">
                        <div class="cta-paragraph-holder">
                            <p>Yes, you can try us for free for 30 days. If you want, we’ll provide you with a free, personalized 30-minute onboarding call to get you up..</p>
                        </div>
                    </div>
                </div>
                <div class="fade-in-on-scroll">
                    <a class="button w-button" href="http://Google.com" target="_blank">Download ViaVia</a>
                </div>
            </div>
            <div class="hero-device-container cta-device">
                <div class="home-device-holder" data-w-id="0af5634c-0e89-c685-5d0d-c8efa13bdbcc">
                    <img alt="" class="hero-device-image" sizes="(max-width: 479px) 94vw, (max-width: 767px) 93vw, (max-width: 1439px) 85vw, 975.59375px" src="images/apple-20ipad-20pro-2013-20space-20gray.png" srcset="images/apple-20ipad-20pro-2013-20space-20gray-p-500.png 500w, images/apple-20ipad-20pro-2013-20space-20gray-p-800.png 800w, images/apple-20ipad-20pro-2013-20space-20gray-p-1080.png 1080w, images/apple-20ipad-20pro-2013-20space-20gray-p-1600.png 1600w, images/apple-20ipad-20pro-2013-20space-20gray.png 1708w">
                    <div class="hero-app-holder"><img alt="" class="ipad-app" sizes="(max-width: 479px) 88vw, (max-width: 767px) 86vw, (max-width: 1439px) 79vw, 911.2239990234375px" src="images/project-20screen-20-ai-20girl-20red.webp" srcset="images/project-20screen-20-ai-20girl-20red-p-500.webp 500w, images/project-20screen-20-ai-20girl-20red-p-800.webp 800w, images/project-20screen-20-ai-20girl-20red-p-1080.webp 1080w, images/project-20screen-20-ai-20girl-20red-p-1600.webp 1600w, images/project-20screen-20-ai-20girl-20red-p-2000.webp 2000w, images/project-20screen-20-ai-20girl-20red.webp 2012w"></div>
                </div>
            </div>
        </div>
    </div>
</div>