<div class="nav-links">
    <a class="nav-link w-nav-link w--current" asp-controller="Home" asp-action="Index">Home</a>
    <a class="nav-link w-nav-link" asp-controller="About" asp-action="Index">About</a>
    <a class="nav-link w-nav-link" asp-controller="Features" asp-action="Index">Features</a>
    <a class="nav-link w-nav-link" asp-controller="Pricing" asp-action="Index">Pricing</a>
    <a class="nav-link w-nav-link" asp-controller="Blog" asp-action="Index">Blog</a>
    <a class="nav-link w-nav-link" asp-controller="Contact" asp-action="Index">Contact</a>
</div>